*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;  /*the height of wrapper should be same as viewport(the default height of viewport is 100vh)*/
    overflow-y: auto;
    overflow-x: hidden;
    perspective:5px;
}

.container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style:preserve-3d;
    z-index: -1;
}

.background,.foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.background{
    transform: translateZ(-30px) scale(8);
           }

.foreground{
    transform: translateZ(-15px) scale(4.5);
           }

h1{
   position:absolute;
   top: 5rem;
   font-size: 10rem;
   color: white;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
}           

section{
 background-color: rgb(45, 45, 45);
 color: white;
 padding: 5rem 0;
}

.secHeading{
    font-size: 5rem;
    padding: 0 10rem;
}

.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 500px;
    /* background-size: cover;
    background-position: center;  (when using our picture is smaller or not fit)*/
}
.bg1{
    background-image: url(Biking4_img.webp);
}

.bg2{
    background-image: url(Para-gliding5_img.jpg);
}

.bg3{
    background-image: url(Surfing3_img.jpg);
}

.desc{
    position: absolute;
    background-color: white;
    color: black;
    padding:0.5rem 2.5rem;
    font-size: 3.5rem;
    font-weight: 600;
    transform: translateX(-50%) translateY(-50%);
    top:50%;
    left:50%;
}