*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 70vh;
    border: 3px solid black;
    display: grid;
    grid-template-columns: 150px repeat(2,1fr) 150px;
    grid-template-rows: 30px 1fr 30px;
    gap:10px;
    background-color: burlywood;
}

.boxes{
    border: 1px solid black;
    background-color: aqua;
}

#box1,#box5{
    grid-column-start:1;
    grid-column-end:5;
}

#box3{
    grid-column-start:2;
    grid-column-end:4;
}